.title.red{
    color: red;
    display: flex;
    justify-content: center;
    
}

img{
    width: 400px;
    height: 200px;
    display: flex;
   margin:20px auto;
    
}
video{
    display: flex;
        margin: 20px auto;
    
}
p{
    text-align: center;
    font-family:fantasy;
}
u{
    color: red;
}
